@using Microsoft.Owin.Security
@model RoadRules.Models.ExternalLoginListViewModel

<div class="external-login-form">
    <h2 class="title">Используйте для входа другую службу</h2>
    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        if (loginProviders.Count() != 0)
        {
            using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl}))
            {
                @Html.AntiForgeryToken()
                <div class="button-block">
                    @foreach (var p in loginProviders)
                    {
                        <button type="submit" class="button @p.AuthenticationType-button" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
                    }
                </div>
            }
        }
    }
</div>