@using RoadRules.Models
@model LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="wrap-container login-container">
    @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "login-form", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <h2 class="title">Войти в свою учетную запись</h2>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="fields">
            <div class="relative-block input-block">
                <label class="label input-label" for="email">
                    <span><i class="fa fa-user"></i></span>
                </label>
                @Html.TextBoxFor(m => m.Email, new {@class = "input-field", id = "email", placeholder = "email"})
                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
            </div>
            <div class="relative-block input-block">
                <label class="label input-label" for="password">
                    <span><i class="fa fa-key"></i></span>
                </label>
                @Html.PasswordFor(m => m.Password, new {@class = "input-field", id = "password", placeholder = "пароль"})
                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="button-block">
            <input class="button" type="submit" value="Войти">
        </div>
        @Html.ActionLink("Регистрация нового пользователя", "Register")
    }
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
</div>

@* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                    <p>
                        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                    </p>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}